$purple: #6f6bf2;
$greyblue: #252f40;
$darkblue: #181E29;
$darkdarkblue: #1E2533;
$purpleblack: #1C1A26;
$anotherdarkpurple: #221F2E;
$darkpurple: #2E2B3F;
$blue: #2994f2;
$green: #66D98e;
$orange: #d9933d;
$pink: #f2a099;